.body {
    background-position: 0 0, center; width: 100%;
    background-repeat: no-repeat; background-color: black;
    background-attachment: fixed;}
    background-size: cover;
  }
  
  html focus-within {
        scroll-behavior: smooth;
  }

  
  h1{
    font-family:'Unbounded', cursive;
    ; background-color: rgb(255, 255, 255);
    font-size:7vw; float: left; margin-bottom: 3px; margin-left: 170px;
  }
  
  @media (max-width:700px) {
    h1 {
      width: 100%;padding-left: 11%; float: right; margin-left: 0px; margin-right: 0px;
    }   
   }
   
  h2{
    font-size:3vw; margin-top: -1px; font-family: 'Unbounded', cursive; float: left; background-color: rgb(255, 255, 255); width: 100%;
    color: #8dbaf8; letter-spacing: 1px; word-spacing: 10px; padding-left: 30%; margin-bottom: 75px; margin-top: 9px;" 
  }
  
  @media (max-width:700px) {
    h2 {
      padding-right: 10%; font-size: 4vw; padding-left: 50px; padding-right: 35px;
      margin-bottom: 0px;
    }   
   }
      
      p{
        font-family: 'Source Code Pro', monospace; font-size: 16px; float: left;
        line-height: 1.6; padding-left: 25px; padding-right: 25px; background-color: black;
        color:rgb(182, 182, 182); letter-spacing: -1px; float: left; padding-bottom: 25px;
      } 
  
      @media screen and (max-width:700px) {
        p {
           padding-top: 175px; 
       }}
  
       @media screen (max-width: 2000px) and (min-width: 701px) {
        p {
           padding-top: 175px; 
       }}
  
        .image {
          margin-top: -4em; 
          float: right; width: 43%;
          padding: 65px; padding-right: 90px;
        }  

        .image:hover .overlay {
            opacity: 20%; background-color: #8dbaf8;
          }

        .overlay {
            top: 0; background-color: #8dbaf8;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 1;
            transition: .5s ease;
          }
          
          .info {
            color: rgb(255, 255, 255); float: right; width: 30%; padding-top: 40%;
            font-size: 20px; opacity: 1; font-family: 'Unbounded', cursive; padding-left: 40px;
             position: absolute;text-align: center;
          }
        
        @media (max-width:700px) {
          .image {
            margin-left: 5px; padding-left: 125px; padding-right: 0px;
            width: 124%; margin-top: -2em; padding-bottom: 30px;
          }   
         }
        
      blockquote{
        color: #8f8f8f; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 16px;
        line-height: 1.6; width: 80%; background-color: #ffffff; padding-left: 50px;
        padding-right: 60px ; letter-spacing: -1px ;
    }
  
    @media screen and (max-width: 700px) {
      blockquote {
        width: 100%; padding-left: 33px; margin-top: 5em; padding-right: 30px; margin-left: 0px;
        margin-left: 0px;
    }}
  
    @media screen and (max-width: 700px) {
      .block-line {
        height: 56%;
    }}
  
    .text{
      color: #000000; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 16px; float: left;
      line-height: 1.6; width: 100%; background-color: #ffffff; padding-left: 20%; padding-right:20%
      ; letter-spacing: -1px ; padding-top: 1%; padding-bottom: 5%; 
  }
  
  @media screen and (max-width: 700px) {
    .text {
      width: 100%; padding-left: 35px; padding-right: 35px;
  }}
  
    .footer {
      left: 0; 
      bottom: 0;
      width: auto;
      background-color: rgb(255, 255, 255);
      color: white;
      text-align: center;
   }
  
   @media screen and (max-width: 700px) {
    .footer {
      width: 100%; font-size: 20px; padding-left: 0px; padding-right: 0px; margin-left: 0px;
      margin-right: 0px; position: -ms-page;
  }}
  
   .button {
    left: 0; float: right;
    bottom: 0; font-family:'Unbounded', cursive;
    width: 100%; font-size: 65px; background-color: rgb(255, 255, 255); 
    color: #000000; padding-top: 3px; padding-bottom: 15px; margin-bottom: 30px;
    text-align: center;
  }
   
    .para4 {
      background-color: #8dbaf8; color: rgb(255, 255, 255); font-size: 35px; float: left; word-spacing: 6px;
      font-family:'Unbounded', cursive; ; padding-left: 30px; padding-right: 10px; padding-top: 30px; margin-bottom: 30px;
      padding-bottom: 30px; width: 100%;
     }
     @media screen and (max-width: 700px) {
      .para4 {
         font-size: 40px; float: left; padding-left: 40px;padding-right: 40px;
    }}
  
  