
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #e5ecef;
    background-image: linear-gradient( to top right, #bbc2c5, #b8bfc2, #e5ecef 60%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  main{
    min-height: 100%;
    margin-bottom: -60px; 
  }
  
  main:after{
    content: "";
    display: block;
  }
  .quote-card {
    width: 100%;
    height: 900px;
    background-color: #fffcf3;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 25px 60px -10px #000;
  }
  
  .card-navigation {
    float: left;
    text-align: center;
    width: 25%;
    height: 100%;
    background-image: url(https://i.imgur.com/mfkTSXu.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .layer {
    background-color: rgba(39, 40, 51, 0.87);
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
  }
  
  .quote-sign {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 120px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    margin-top: -75px;
    color: rgba(0, 0, 0, 0.1);
  }
  
  .quote-arrows {
    position: absolute;
    bottom: 25px;
    left: 50px;
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    cursor: pointer;
    transition: 0.5s;
  }

  quote-arrows.arrow-left,
.quote-arrows.arrow-left:visited {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  float: left;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.quote-arrows.arrow-right,
.quote-arrows.arrow-right:visited {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  float: right;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-left: 40px;
}

.quote-arrows.arrow-left:hover,
.quote-arrows.arrow-right:hover {
  opacity: 0.5;
}

.card-body {
  color: #feffff;
  width: 63%;
  float: left;
  padding-left: 60px;
  padding-top: 10px;
}

.quote-text {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 19px;
  font-weight: 100;
}


.card-header {
    font-size: 66px; color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 19px;
    font-weight: 600;
  }

.font-change {
  font-family: 'Palanquin Dark', sans-serif;
}

.quote-author {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.card-social {
  width: 12%;
  float: right;
  padding-top: 20px;
}

.card-social button.heart-num {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  padding: 7px 13px;
  color: #fff;
  cursor: pointer;
}

.card-social button.heart-num:hover .like {
  color: #F2495A;
  transition: ease-in 0.5s;
}

.card-social button.heart-num:focus {
  outline: 0;
}

.card-social button.heart-num:active .like {
  color: #F2495A;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.7);
    transform: scale(1.7);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

  