
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #e5ecef;
    background-image: linear-gradient( to top right, #bbc2c5, #b8bfc2, #e5ecef 60%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  main{
    min-height: 100%;
    margin-bottom: -60px; 
  }
  
  main:after{
    content: "";
    display: block;
  }
  .quote-card {
    width: 100%;
    height: 900px;
    background-color: #fffcf3;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .card-navigation {
    float: left;
    text-align: center;
    width: 25%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .layer {
    position: absolute;
    top: 0; background-image: url(https://raw.githubusercontent.com/kinjalgawaskar/manuscript1/197414549c485143eef48c5f430d36944c3a3b26/konstantin.png);
    left: 0; 
    width: 35%;
    height: 100%;
  }
  
  .quote-arrows {
    position: absolute;
    bottom: 25px;
    left: 50px;
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    cursor: pointer;
    transition: 0.5s;
  }

  quote-arrows.arrow-left,
.quote-arrows.arrow-left:visited {
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  float: left;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.quote-arrows.arrow-right,
.quote-arrows.arrow-right:visited {
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  float: right;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-left: 40px;
}

.quote-arrows.arrow-left:hover,
.quote-arrows.arrow-right:hover {
  opacity: 0.5;
}

.card-body {
  color: #000000;
  width: 70%;
  float: left;
  padding-left: 260px;
  padding-top: 20px;
}

.quote-text {
  font-size: 16px; width: 90%;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 19px;
  font-weight: 100;
}

.card-header {
    font-size: 66px; color: #000000;
    margin-top: 130px; float: left; padding-left: 260px;
    margin-bottom: 50px; font-family: 'Unbounded', cursive;
    line-height: 19px;
    font-weight: 600;
  }

  .card-header2 {
    font-size: 30px; color: #2b6ebb;
    margin-top:60px; float: left; padding-left: 260px;
    margin-bottom: 50px; font-family: 'Unbounded', cursive;
    line-height: 40px;
    font-weight: 100;
  }

.font-change {
  font-family: 'Palanquin Dark', sans-serif;
}

.quote-author {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.card-social {
  width: 12%;
  float: right;
  padding-top: 20px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.7);
    transform: scale(1.7);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
